<section id="corpo1">
    <h1 class="titulo-corpo1">
        Seja bem vindo a loja dos Madristas!
    </h1>
    <nav class="produtos-navegacao">
        <div class="bordas">
            <button class="produtos-nav botao-nav"  (click)="scrollToSection('camisas')" type="button">Camisas</button>
            <button class="produtos-nav botao-nav"  (click)="scrollToSection('relogios')" type="button">Relógios</button>
            <button class="produtos-nav botao-nav"  (click)="scrollToSection('meia')" type="button">Meias</button>
            <button class="produtos-nav botao-nav"  (click)="scrollToSection('acessorio')" type="button">Acessórios</button>
        </div>
    </nav>
</section>
<section>
    <div class="destaques-semanais" id="camisas">
        <h3 class="destaque">Camisas mais vendidas</h3>
        <i class="quebralinha"></i>
        <div class="produtos-loja-destaques">
            <div class="produtos"> 
                <a href="/real2010" class="links">
                    <h2>Camisa Real Madrid - 2010</h2>
                    <img src="../../../assets/images/camisa do realmadrid 2010.jpg" alt="camisa real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/real2011" class="links">
                    <h2>Camisa Real Madrid - 2011</h2>
                    <img src="../../../assets/images/camisa do realmadrid 2011.jpg" alt="camisa real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/real2017" class="links">
                    <h2>Camisa Real Madrid - 2017</h2>
                    <img src="../../../assets/images/camisa do realmadrid 2017.jpg" alt="camisa real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/real2014" class="links">
                    <h2>Camisa Real Madrid - 2014</h2>
                    <img src="../../../assets/images/camisa do realmadrid 2014.png" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
        </div>
    </div>

    <div class="destaques-semanais" id="relogios">
        <h3 class="destaque">Relógios mais vendidos</h3>
        <i class="quebralinha"></i>
        <div class="produtos-loja-destaques">
            <div class="produtos">
                <a href="/hombreacero" class="links">
                    <h2>Viceroy Hombre - Acero</h2>
                    <img src="../../../assets/acessorios/reloj-viceroy-hombre-42311-07-real-madrid-acero-800x800.jpeg" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/cadetepreto" class="links">
                    <h2>Viceroy Cadete - Nylon Preto</h2>
                    <img src="../../../assets/acessorios/reloj-viceroy-hombre-42307-57-real-madrid-nylon-negro-800x800.jpeg" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/cadeteazul" class="links">
                    <h2>Viceroy Cadete - Nylon Azul</h2>
                    <img src="../../../assets/acessorios/reloj-viceroy-hombre-40969-39-real-madrid-nylon-azul-800x800.jpeg" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="/cadeteacero" class="links">
                    <h2>Viceroy Cadete - Acero</h2>
                    <img src="../../../assets/acessorios/reloj-viceroy-cadete-42300-07-real-madrid-acero-800x800.jpeg" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
        </div>
    </div>


    <div class="destaques-semanais" id="meia">
        <h3 class="destaque">Meiões mais vendidas</h3>
        <i class="quebralinha"></i>
        <div class="produtos-loja-destaques">
            <div class="produtos">
                <a href="meiaobranco23" class="links">
                    <h2>Meias 2 Real Madrid 22/23</h2>
                    <img src="../../../assets/acessorios/real_madrid_meiao_2023_uniforme_titular_13875_1_6a240d37eebc431b1883d0fbd231c7e4.webp" alt="Meião real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="meiaobranco" class="links">
                    <h2>Meião Real Madrid Home 19/20</h2>
                    <img src="../../../assets/acessorios/COL-7413-014_zoom1.webp" alt="Meião real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="meiaoazul" class="links">
                    <h2>Real Madrid Meião 2022</h2>
                    <img src="../../../assets/acessorios/real_madrid_meiao_2022_uniforme_reserva_11429_1_ae250709af4c18032689805c46318244.webp" alt="Meião real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="meiaobranco24" class="links">
                    <h2>Real Madrid Meião 2023</h2>
                    <img src="../../../assets/acessorios/real_madrid_meiao_2024_uniforme_titular_14991_1_b247cc91364f75fad57ff7938c5024cb.webp" alt="Meião real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
        </div>
    </div>

    <div class="destaques-semanais" id="acessorio">
        <h3 class="destaque">Acssórios Real Madrid</h3>
        <i class="quebralinha"></i>
        <div class="produtos-loja-destaques">
            <div class="produtos">
                <a href="bonepreto" class="links">
                    <h2>Boné preto Real Madrid</h2>
                    <img src="../../../assets/acessorios/bone real madrid preto.webp" alt="Acessório real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="mochila" class="links">
                    <h2>Mochila da Adidas - Real Madrid</h2>
                    <img src="../../../assets/acessorios/mochila-adidas-real-madrid-00f4d62f1446095724e25acb966a8c73.jpg" alt="Acessório real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="caneca" class="links">
                    <h2>Caneca Real Madrid</h2>
                    <img src="../../../assets/acessorios/Caneca-Real-Madrid.jpg" alt="Acessório real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
            <div class="produtos">
                <a href="garrafa" class="links">
                    <h2>Garrafa Real Madrid</h2>
                    <img src="../../../assets/acessorios/Garrafa-Real-Madrid.jpg" alt="relógio real madrid" class="imagem-produto">
                    <p class="texto-corpo">R$259,90</p>
                </a>
            </div>
        </div>
    </div>
    
</section>