<div class="footer">

    <p class="titulo-atendimento">Atendimento ao cliente</p>
    <br>
    <div class="atendimento">
        <p class="atendimento-conteudo">Central de ajuda</p>
        <p class="atendimento-conteudo">Como comprar</p>
        <p class="atendimento-conteudo">Metódos de pagamento</p>
        <p class="atendimento-conteudo">Garantia</p>
        <p class="atendimento-conteudo">Devolução e reembolso</p>
        <p class="atendimento-conteudo">Fale conosco</p>
    </div>

    <p class="titulo-categoria">&copy; Todos os direitos reservados aos alunos!</p>
</div>
