
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #00215E;
}

.titulo-atendimento {
    color: white;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1.2em;
    margin-top: 1em;
}

.atendimento {
    color: white;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1em;  
    cursor: pointer; 
}

.atendimento-conteudo:hover {
    color: #DD761C;
}

.titulo-categoria {
    text-align: center;
    margin-top: 1em;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1.2em;
    padding-bottom: 1em;
    color: white;
}