<div class="header-container">
    <img src="https://static.brusheezy.com/system/resources/thumbnails/000/014/339/original/logo_thum.png" alt="logo Real Madrid" class="imagem-header">
    <nav id="cabecalho-header">
        <a routerLink="/home" class="links-header">Home</a>
        <a routerLink="/produtos" class="links-header">Produtos</a>
        <a href="/contato" class="links-header">Contato</a>
        <a href="/carrinho" class="links-header">Carrinho</a>
        <a href="/cadastro" class="links-header">Cadastrar | Entrar</a>
    </nav>
  </div>
  